/* set the minimum value of the breakpoint type
   and the number of columns associated to it: */
/* Media queries helpers */
/* Grid mixins */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

[class^=motion] {
  margin: 0;
  position: absolute;
}
[class^=motion] .line {
  display: block;
}
[class^=motion] .line.right {
  text-align: right;
}
[class^=motion] .line.center {
  text-align: center;
}

@font-face {
  font-family: "Canela Medium";
  src: url("/Canela-Medium.57f70263.otf");
}
@font-face {
  font-family: "Canela";
  src: url("/Canela-Regular.f1f5bfbb.otf");
}
@font-face {
  font-family: "SF";
  src: url("/SF-Pro-Display-Regular.5151c0d7.otf");
}
@font-face {
  font-family: "SF Light";
  src: url("/SF-Pro-Display-Light.1711e87a.otf");
}
@font-face {
  font-family: "SF Semi";
  src: url("/SF-Pro-Display-Semibold.2fb8f686.otf");
}
:root {
  --c-bg: #FFFFFF;
  --c-fg: #000000;
  -webkit-font-smoothing: antialiased;
  --columns: 12;
  --outer-gap: 7vw;
  --inner-gap: 2vw;
  --outer-col: calc(var(--outer-gap) - var(--inner-gap));
  --header-height: 60px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "SF", Helvetica, sans-serif;
}

a,
button.is-a {
  text-decoration: none;
  color: currentColor;
  background: none;
  border: none;
  padding: 0;
}
a:after,
button.is-a:after {
  content: "";
  display: block;
  margin-top: 3px;
  height: 1px;
  width: 100%;
  opacity: 0;
  background-color: currentColor;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
a:hover::after,
button.is-a:hover::after {
  opacity: 1;
}
a:focus,
button.is-a:focus {
  outline: none;
}
a:hover,
button.is-a:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #ffc13b;
}

.line {
  overflow: hidden;
}

.intro-wrapper {
  transform-origin: top;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  margin: 75px var(--outer-gap);
}
header .logo {
  font-family: Nimbus-Bold, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
}
header nav {
  right: calc(100vw * 1 / 32 + 0px);
  right: calc(100vw * 1 / 32 + 0px);
}
header nav a {
  font-family: SF Semi, sans-serif;
  font-size: 22px;
  display: inline-block;
  padding-right: 2.2em;
}

.Container {
  width: 100%;
  display: block;
  margin: 0;
}

.Resume {
  margin: 10% 10% 0 10%;
  font-family: Canela Medium, sans-serif;
  font-size: 120px;
  line-height: 70px;
}

.Categories {
  width: 100%;
  opacity: 1;
  margin: 8% 10% 8% 10%;
  display: inline-flex;
  background: #FFFFFF;
  list-style-type: none;
}

.Category {
  padding-right: 6%;
  list-style-type: none;
}

.CategoryTitle {
  font-family: Canela, sans-serif;
  font-size: 60px;
  line-height: 80px;
  font-weight: 500;
  position: sticky;
  top: 0;
  background: #FFFFFF;
  z-index: 1;
}

.SubCategories {
  margin-top: 12%;
  list-style-type: none;
}

.SubCategory {
  position: relative;
  padding-left: 17px;
  margin-bottom: 55px;
}
.SubCategory:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: black;
}

.SubCategoryTitle {
  font-family: Nimbus-Black, sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.SubCategorySubtitle {
  font-size: 32px;
  line-height: 32px;
  margin-top: 5%;
}

.SubCategoryDescription {
  font-family: Nimbus-Bold, sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #4e4e4e;
  margin-top: 5%;
}

.List {
  margin-top: 5%;
  list-style-type: none;
}

.Item {
  list-style-type: none;
  font-family: Nimbus, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: black;
}

@media (min-width: 820px) and (max-width: 1220px) {
  .Resume {
    margin: 10% 25% 0 25%;
    font-size: 85px;
  }

  .Categories {
    width: 100%;
    opacity: 1;
    margin: 8% 10% 8% 10%;
    display: inline-flex;
    background: #FFFFFF;
    list-style-type: none;
  }

  .Category {
    padding-right: 6%;
    list-style-type: none;
  }

  .CategoryTitle {
    font-size: 48px;
    line-height: 80px;
    font-weight: 500;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
  }

  .SubCategories {
    margin-top: 12%;
    list-style-type: none;
  }

  .SubCategory {
    position: relative;
    padding-left: 17px;
    margin-bottom: 55px;
  }
  .SubCategory:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: black;
  }

  .SubCategoryTitle {
    font-family: Nimbus-Black, sans-serif;
    font-size: 36px;
    line-height: 40px;
  }

  .SubCategorySubtitle {
    font-size: 32px;
    line-height: 32px;
    margin-top: 5%;
  }

  .SubCategoryDescription {
    font-family: Nimbus-Bold, sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #4e4e4e;
    margin-top: 5%;
  }

  .List {
    margin-top: 5%;
    list-style-type: none;
  }

  .Item {
    list-style-type: none;
    font-family: Nimbus, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: black;
  }
}
@media (max-width: 411px) {
  header {
    width: 100%;
    display: flex;
    margin: 12% 0 0 13%;
  }
  header .logo {
    font-size: 17px;
  }
  header nav {
    padding-right: 25%;
    padding-top: 7%;
    display: inline-flex;
    align-self: flex-start;
  }
  header nav a {
    font-size: 13px;
    font-family: SF Semi, sans-serif;
  }

  .Resume {
    font-size: 72px;
    margin: 35% 0 0 12%;
  }

  .Categories {
    width: 100%;
    display: block;
    margin: 10% 0 0 12%;
  }

  .CategoryTitle {
    font-size: 48px;
    line-height: 64px;
  }

  .SubCategoryTitle {
    font-size: 32px;
    line-height: 28px;
  }

  .SubCategorySubtitle {
    font-size: 24px;
    line-height: 26px;
  }

  .SubCategoryDescription {
    font-size: 19px;
    line-height: 20px;
    margin-top: 5%;
  }

  .Item {
    font-size: 16px;
    line-height: 22px;
  }
}

/*# sourceMappingURL=/style.6d80b553.css.map */