@import 'src/assets/vendors/main';
@font-face {
  font-family: 'Canela Medium';
  src: url('./assets/fonts/Canela-Medium.otf');
}

@font-face {
  font-family: 'Canela';
  src: url('./assets/fonts/Canela-Regular.otf');
}

@font-face {
  font-family: 'SF';
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family: 'SF Light';
  src: url('./assets/fonts/SF-Pro-Display-Light.otf');
}

@font-face {
  font-family: 'SF Semi';
  src: url('./assets/fonts/SF-Pro-Display-Semibold.otf');
}

$c-set-bg: #FFFFFF;
$c-set-fg: #000000;
:root {
  --c-bg: #{$c-set-bg};
  --c-fg: #{$c-set-fg};
  -webkit-font-smoothing: antialiased;
  --columns: 12;
  --outer-gap: 7vw;
  --inner-gap: 2vw;
  --outer-col: calc(var(--outer-gap) - var(--inner-gap));
  --header-height: 60px;
}

$c-bg: var(--c-bg);
$c-fg: var(--c-fg);
$ease-out: cubic-bezier(.165, .84, .44, 1);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'SF', Helvetica, sans-serif;

  a,
  button.is-a {
    text-decoration: none;
    color: currentColor;
    background: none;
    border: none;
    padding: 0;
    &:after {
      content: '';
      display: block;
      margin-top: 3px;
      height: 1px;
      width: 100%;
      opacity: 0;
      background-color: currentColor;
      transition: opacity .6s $ease-out;
    }
    &:hover::after {
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::selection {
    color: #ffc13b;
  }

  .line {
  	overflow: hidden;
  }

  .intro-wrapper {
  	transform-origin: top;
  	background-color: black;
  	width: 100vw;
  	height: 100vh;
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 100;
  }

  // HEADER
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 75px var(--outer-gap);
    position: relative;

    .logo {
      font-family: Nimbus-Bold, sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 20px;
      color: black;
      text-transform: uppercase;
    }

    nav {
      @include limo(right, 1);

      a {
        font-family: SF Semi, sans-serif;
        font-size: 22px;
        display: inline-block;
        padding-right: 2.2em;
      }
    }
  }

  //MAIN
  //.main {
    .Container{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: 2rem;
      margin: 0;
    }

    .Resume{
      margin-top: 10%;
      grid-template-columns: repeat(4, 1fr);
      grid-column: 2/8;
      font-family: Canela Medium, sans-serif;
      font-size: 120px;
      line-height: 70px;
    }

    .Categories{
      width: 100%;
      grid-column: 2/8;
      opacity: 1;
      margin: 8% 0 35px 0;
      display: inline-flex;
      background: #FFFFFF;
      list-style-type: none;
    }

      .Category{
        width: 100%;
        padding-right: 8%;
        list-style-type: none;
      }
        // Edu, Exp, skill
        .CategoryTitle{
          font-family: Canela, sans-serif;
          font-size: 72px;
          line-height: 80px;
          font-weight: 500;
          position: sticky;
          top: 0;
          background: #FFFFFF;
          z-index: 1;
        }


        .SubCategories {
          margin-top: 12%;
          list-style-type: none;
        }

        .SubCategory {
          position: relative;
          padding-left: 17px;
          margin-bottom: 55px;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: black;
          }
        }

      .SubCategoryTitle{
        font-family: Nimbus-Black, sans-serif;
        font-size: 36px;
        line-height: 40px;
      }

      .SubCategorySubtitle {
        font-size: 28px;
        line-height: 32px;
        margin-top: 5%;
      }

    .SubCategoryDescription {
      font-family: Nimbus-Bold, sans-serif;
      font-size: 22px;
      line-height: 24px;
      margin-top: 5%;
    }

    .List {
      margin-top: 5%;
      list-style-type: none;
    }

    .Item {
      list-style-type: none;
      font-family: Nimbus, sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: black;
    }


  @media (max-width: 411px){
    header{
      width: 100%;
      display: flex;
      margin: 12% 0 0 13%;

      .logo{
        font-size: 17px;
      }

      nav {
        padding-right: 25%;
        padding-top: 7%;
        display: inline-flex;
        align-self: flex-start;
        a {
          font-size: 13px;
          font-family: SF Semi, sans-serif;
        }
      }
    }

    .Resume{
      font-size: 72px;
      margin: 35% 0 0 2%;
    }

    .Categories{
      width: 100%;
      display: block;
      margin: 10% 0 0 2%;
    }

    .CategoryTitle{
      font-size: 48px;
      line-height: 64px;
    }

    .SubCategoryTitle{
      font-size: 32px;
      line-height: 28px;
    }

    .SubCategorySubtitle {
      font-size: 24px;
      line-height: 26px;
    }

    .SubCategoryDescription {
      font-size: 19px;
      line-height: 20px;
      margin-top: 5%;
    }

    .Item {
      font-size: 16px;
      line-height: 22px;
    }

  }

//  body
}
